.row
  .col-sm-6
    .row
      %h4.text-right.text-muted.col-sm-offset-2.col-sm-2 Mamma
    = form.text_field :mother_name, label: "Namn", icon: "user", label_col: "col-sm-4", control_col: "col-sm-8", class: "input-lg"
    = form.text_field :mother_email, label: "Email", icon: "envelope", label_col: "col-sm-4", control_col: "col-sm-8"
    = form.text_field :mother_phone, label: "Telefon", icon: "phone", label_col: "col-sm-4", control_col: "col-sm-6"
  .col-sm-6
    .row
      %h4.text-muted.text-right.col-sm-offset-2.col-sm-2 Pappa
    = form.text_field :father_name, label: "Namn", icon: "user", label_col: "col-sm-4", control_col: "col-sm-8", class: "input-lg"
    = form.text_field :father_email, label: "Email", icon: "envelope", label_col: "col-sm-4", control_col: "col-sm-8"
    = form.text_field :father_phone, label: "Telefon", icon: "phone", label_col: "col-sm-4", control_col: "col-sm-6"

%hr

- if form.object.id?
  .form-group
    %label.control-label.col-sm-2
      - if not @invoice
        Faktura
      - else
        Faktura för
        %br
        #{@invoice.fee_month_human}
    .form-control-static.col-sm-6.text-muted
      - if not @invoice
        Ingen obetald faktura hittades
      - else
        .btn-group
          = link_to invoice_path(@invoice, format: :pdf), class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-qrcode
            Visa

          - preview_label = nil
          - if !@invoice.last_reminded
            - preview_label = :notice
            = notice_link(@invoice)
          - elsif @invoice.not_recently_reminded? && @invoice.overdue?
            - preview_label = :reminder
            = reminder_link(@invoice)

            - if @invoice.long_overdue?
              = link_to alert_admin_invoice_path(@invoice), method: :post, data: { confirm: 'Säker på att du vill signalera internt om fakturan?' }, class: 'btn btn-danger' do
                %span.glyphicon.glyphicon-asterisk
                Signal

          = admin_links(@invoice)

          -# if preview_label
            - preview_label_sv = { notice: 'notis', reminder: 'påminnelse' }[preview_label]
            = link_to rails_email_preview.rep_email_path('fee_mailer_preview-'+preview_label.to_s, invoice_id: @invoice), class: 'btn btn-default' do
              %span.glyphicon.glyphicon-envelope
              Visa #{preview_label_sv}


    %label.control-label.col-sm-2 Total avgift
    .form-control-static.col-sm-2
      %span.label.label-default #{form.object.total_fee} kr / mån

  %hr
  .form-group
    %label.control-label.col-sm-2 Barn
    - if form.object.kids.any?
      .list-group.col-sm-8
        - form.object.kids.each do |kid|
          = link_to edit_admin_kid_path(kid), class: "list-group-item" do
            %h5
              %span.glyphicon.glyphicon-user
              = kid.forename
              %span.label.label-info.first #{kid.age} år
              %span.label.label-default #{kid.fee} kr / mån
              - if kid.active?
                %span.label.label-success Aktiv
              - else
                %span.label.label-default Inaktiv
              - if kid.free_15_hour_week
                %span.label.label-warning{title: 'Har just nu rätt till allmän förskola 15 timmar per vecka'} AFSK

    - else
      .form-control-static.col-sm-10.text-muted Inga inlagda


= form.text_field :income, placeholder: Kid::default_income, append: "SEK", help: "Påverkar avgiften för förskoleplats. Den nuvarande maxtaxan är #{Kid::maximum_income} kr.", control_col: "col-sm-4"
= form.form_group :parent_at_home, control_col: "col-sm-4" do
  = form.check_box :parent_at_home, label: "Föräldralediga", title: 'Någon av föräldrarna är hemma med barn'

%hr

- if form.object.is_lead? && form.object.lead_comments?
  .form-group
    %label.control-label.col-sm-2 Intresseanmälan
    .form-control-static.col-sm-6.text-muted= form.object.lead_comments

= form.text_area :comment, rows: 3

= form.form_group class: 'form-actions' do
  .col-sm-6
    = form.submit class: 'btn btn-lg btn-primary'
  .col-sm-6.text-right
    - if form.object.id?
      .btn-group
        = link_to admin_family_path(form.object), method: :delete, data: { confirm: 'Säker?' }, class: 'btn btn-danger' do
          %span.glyphicon.glyphicon-remove
          Ta bort
