
- if @invoices.any?
  .page-header
    %hr
    %h3
      Fakturor
      %small Visar senaste 12

  %table.table.table-hover.table-bordered
    %tr
      %th Skapad
      %th Månad
      %th Försening
      %th Avgift
      %th Betalat
      %th Inbetalning från
      %th
    - @invoices.each do |invoice|
      %tr{ title: invoice.status_text_paid, style: "background-color: #{('#F3E2DA' if invoice.overpayed?) || ('#E5EED8' if invoice.fully_payed?)}" }
        /%td.main= link_to invoice.fee_month, edit_admin_family_path(family)
        %td= l(invoice.invoice_date, format: :short).capitalize
        %td= l(invoice.fee_month, format: :month).capitalize
        %td= invoice.overdue_duration.presence || invoice.was_overdue_duration.presence
        %td= "#{invoice.amount.round.to_i} kr"
        %td= "#{invoice.payments.sum(:amount).round.to_i} kr"
        %td= invoice.payments.last &.from_name
        %td
          .btn-group.btn-group-sm
            = link_to invoice_path(invoice, format: :pdf), class: 'btn btn-primary' do
              %span.glyphicon.glyphicon-qrcode
              Visa
