.page-header
  .row
    .col-sm-8
      %h2
        Familjen #{@family.name}
        - if @family.parent_at_home?
          %span.label.label.label-success{title: 'Föräldralediga'} FL
        - if @family.is_lead?
          %span.label.label.label-primary{title: 'Intresseanmälda'} Intresse

    .col-sm-4.text-right
      .btn-group
        = link_to edit_admin_family_path(@family.id+1), class: 'btn btn-default', title: 'Nästa familj' do
          %span.glyphicon.glyphicon-arrow-down
          Nästa
        = link_to edit_admin_family_path(@family.id-1), class: 'btn btn-default', title: 'Förra familj' do
          %span.glyphicon.glyphicon-arrow-up
          Förra


= comfy_form_for [:admin, @family] do |form|
  = render form

= render partial: 'invoices'

= render partial: 'history'