.page-header
  = link_to new_admin_family_path, class: 'btn btn-lg btn-default pull-right' do
    %span.glyphicon.glyphicon-plus-sign
    Ny familj
  %h1
    Familjer

= paginate @families, theme: 'comfy'

- cache @families do
  %table.table.table-hover.table-bordered
    %tr
      %th.main Familj
      %th Barn
      %th Avgift
      %th
      %th
      %th Inkomst
      %th.narrow
      %th.narrow
      %th.narrow

    - @families.each do |family|
      %tr{class: family.has_nonzero_fee? ? '' : 'inactive'}
        %td.main= link_to family.full_name, edit_admin_family_path(family)
        %td= family.kids.map(&:forename).to_sentence
        %td.nobr= "#{family.total_fee.to_i} kr"
        %td
          - if family.kids.any?(&:free_15_hour_week)
            %span.label.label.label-warning{title: 'Har just nu rätt till allmän förskola 15 timmar per vecka'} AFSK
        %td
          - if family.parent_at_home?
            %span.label.label.label-success{title: 'Föräldralediga'} FL
        %td.text-muted= "#{family.income} kr" if family.income?
        %td
          - if family.emails.any?
            %span.glyphicon.glyphicon-envelope
        %td
          - if family.phones.any?
            %span.glyphicon.glyphicon-phone
        %td
          - if family.comment?
            %span.glyphicon.glyphicon-comment{title: "Kommentar"}


    %tfoot{style:'background-color:#eee'}
      %tr
        %td.main= "#{Family.all.count} st"
        %td= "#{Kid.has_family.active.count} st"
        %td= "#{Family.all.map(&:total_fee).sum.to_i} kr"
        %td
        %td
        %td
        %td
        %td
        %td

= paginate @families, theme: 'comfy'

