.page-header
  = link_to new_admin_family_path, class: 'btn btn-lg btn-default pull-right' do
    %span.glyphicon.glyphicon-plus-sign
    Ny familj
  %h2= 'Intresseanmälda familjer'

= paginate @leads, theme: 'comfy'

- cache @leads do
  %table.table.table-hover.table-bordered
    %tr
      %th.main Familj
      %th Barn
      %th Kommentarer
      %th
      %th
      %th Inkomst
      %th.narrow
      %th.narrow
      %th.narrow

    - @leads.each do |family|
      %tr
        %td.main= link_to family.full_name, edit_admin_family_path(family)
        %td
          = family.kids.map(&:forename).to_sentence
          = family.kids.map{|kid| "#{kid.age_now} år" }.to_sentence
        %td= family.lead_comments
        %td
          - if family.kids.any?(&:free_15_hour_week)
            %span.label.label.label-warning{title: 'Har just nu rätt till allmän förskola 15 timmar per vecka'} AFSK
        %td
          - if family.parent_at_home?
            %span.label.label.label-success{title: 'Föräldralediga'} FL
        %td.text-muted= "#{family.income} kr" if family.income?
        %td
          - if family.emails.any?
            %span.glyphicon.glyphicon-envelope
        %td
          - if family.phones.any?
            %span.glyphicon.glyphicon-phone
        %td
          - if family.comment?
            %span.glyphicon.glyphicon-comment{title: "Kommentar"}


    %tfoot{style:'background-color:#eee'}
      %tr
        %td.main= "#{Family.leads.count} st"
        %td= "#{Family.leads.map(&:kids).flatten.count} st"
        %td
        %td
        %td
        %td
        %td
        %td

= paginate @leads, theme: 'comfy'

