<h2>En förskola med engagemang </h2><p>
	I november 2013 öppnade Solsidan, en (privat) förskola på Härnön, nära centrum, som satsar på
</p><ul>
	<li>Små barngrupper i familjär anda</li>
	<li>Mycket uteliv</li>
	<li>Erfaren och positiv personal</li>
</ul><h2>Erfaren personal</h2><p>
	Förskolan Solsidan är en relativt ny verksamhet, men samtidigt väl inarbetad och trygg.
	<br>
</p><p>
	Personalen har jobbat tillsammans länge. Margona och Sophia har varit arbetskamrater i 16 år på Föräldrakooperativet Tärnan i Ytterfälle. Anna-Carin anslöt sig med en färskare förskollärarexamen i bagaget, två år innan Tärnans tid var över, och vi "blev" Solsidan.
</p><p>
	Det känns fantastiskt roligt att få fortsätta det goda samarbetet vi hade på Tärnan, då vi trivs mycket bra med varandra och i arbetet med barnen. 
	<br>
</p><p>
	<strong>Vi är fyra utbildade förskollärare</strong>. All personal har <a href="http://localhost:3050/iurochskur">I Ur och Skur-utbildning</a> (Friluftsfrämjandet i samarbete med GIH, Idrottshögskolan). Samtliga har vi egna barn och lång och stor erfarenhet av barn.
</p><p>
	Sussi Eriksson, med 30 års erfarenhet från kommunal förskola, var även med oss på Tärnan, då som assistent för ett barn med Downs syndrom.
	<br>
</p><p>
	I samband med att vi öppnade Solsidan utökades personalstyrkan med ännu en förskollärare, Helena Eriksson, samt Jessica Åström och Matilda Bränström.
</p><h2>Kvalitet</h2><p class="pullquote">
	"Svensk och internationell forskning visar att barn som gått i förskola med god kvalitet utvecklas väl, inte bara intellektuellt utan också socialt och emotionellt. ... Kvalitet består i främst 
	<strong>1) gott samspel mellan barn och vuxen, 2) lagom stor barngrupp, 3) god personaltäthet, och 4) god kontinuitet, det vill säga låg personalomsättning</strong>. Dessa fakta ställer höga – och kostsamma – krav på förskolan."
</p><p>
	Citat från 
	<a href="http://www.dn.se/debatt/staten-maste-ta-ansvar-for-alla-forskolors-kvalitet/" target="_blank">DN Debatt: "Staten måste ta ansvar för alla förskolors kvalitet"</a><br>
</p><p>
	Solsidans ambition är att uppfylla dessa kriterier, och vi är på mycket god väg.
</p><h2>Små barngrupper</h2><p>
	Vår önskan är att se och skapa närhet till varje barn.
	<br>
</p><p>
	Därför har vi på Solsidan en "lillsida", 
	<em>Regnbågen</em>, där de minsta får inleda sin tid på vår förskola. Där finns plats för ca 10 st 1-2 åringar. På den "stora sidan" - som helt enkelt kallas Solsidan - har vi plats för ca 19 barn. Där går 2-6-åringarna tillsammans.
</p><p>
	Vi är alltså 7 st som jobbar med dessa två grupper; förenklat kan man säga att vi är 4 på stora och 3 på lilla, men vi jobbar mycket "över gränserna", dvs både barn och personal tillbringar tid på båda sidorna. Utomhus delar vi alla på vår ganska stora lekgård, och då är vi "fröknar" alla barns fröknar!
</p><h2>värme och glädje</h2><p>
	Vår ambition är att arbetet och samvaron med barnen ska präglas av ömsesidig respekt, omtanke och kärlek. En hjärtefråga för oss på Solsidan är att stötta barnen i deras sociala utveckling och bidra till att barnen blir socialt kompetenta, omtänksamma medmänniskor.
</p><p>
	Hos oss råder en familjär och positiv anda, med många skratt. Humor, sång och glädje som naturliga inslag i vardagen gör att barnen - och vi vuxna - mår gott.
</p><h2>Pedagogik</h2><p>
	Naturligtvis följer vi 
	<em>Läroplan för Förskolan</em> i vårt pedagogiska arbete. Matematik, språk, och naturkunskap dyker återkommande upp i samlingar och lärstunder på både Regnbågen och Solsidan. Inte minst i våra I Ur och Skur-aktiviteter som vi har varje vecka, där en upplevelsebaserad pedagogik ger barnet möjlighet att lära med hela kroppen.
</p><p>
	Vi jobbar även med långsiktiga teman, t ex  sagor, Astrid Lindgren, bygg och konstruktion.
</p><p>
	Som god hjälp i vårt planeringsarbete, vår dokumentation samt våra föräldrakontakter har vi fr o m HT-2015 börjat använda oss av systemet 
	<a href="http://www.unikum.net/">Unikum</a>.
</p><h2>Viktiga föräldrar</h2><p>
	Vi sätter stort värde på kontakten med hela familjen och samverkar gärna med er föräldrar. Ni ska alltid känna er välkomna att vara med i vår verksamhet.
</p><p>
	Vi har positiva erfarenheter av vårt tidigare arbete på föräldrakooperativet, och vi hittar gärna nya former för föräldrasamverkan.
</p><h2>I Ur och Skur = mycket uteliv</h2><p>
	Solsidan är en certifierad
	<strong> I Ur och Skur</strong>-förskola.
</p><p>
	Det innebär i korta drag en upplevelsebaserad pedagogik där lek och lärande går hand i hand. Barnen upptäcker, leker och upplever med alla sinnen och hela kroppen. Att praktiskt få uppleva, stimulerar nyfikenheten, självkänslan, ger kunskap och förståelse.
</p><h3>Hur vi lever I Ur och Skur på Solsidan</h3><p style="line-height: 28.8px;">
	Att vistas utomhus tillsammans med vuxna som trivs i naturen, lockar fram fantasi och lek och ger barnen goda förutsättningar för inlärning. Det skapar också positiva minnen för livet, och förhoppningsvis en känsla för naturen även i vuxen ålder.
</p><p>
	Vi går ut en eller två gånger per dag, kort eller lång stund, beroende på väder och vind. Vi äter och fikar även ute så ofta det är möjligt. Målet är att utevistelsen ska vara en skön och trivsam upplevelse.
</p><p style="line-height: 28.8px;">
	Vårt önskemål är därför att barnen har ändamålsenliga kläder på förskolan och att det finns gott om ombyten. Det behöver definitivt inte vara dyra märkeskläder - det finns gott om bytesdagar på olika ställen i Härnösand t ex i början av höstterminen där man kan fynda begagnade men bra kläder.
	<br>
</p><p style="line-height: 28.8px;">
	Är vädret riktigt dåligt stannar vi förstås inne. Vi lägger stor vikt även vid en mysig innemiljö, som komplement till utevistelsen.
	<br>
</p><p>
	Barnen delas in i följande grupper och går ut i skogen varje vecka.
	<br>
</p><ul>
	<li><strong>Skogsknopp</strong> - de allra minsta</li>
	<li><strong>Knytte</strong> - (2)-3-4 åringarna</li>
	<li><strong>Mulle</strong> - 4-6 åringarna</li>
</ul><p>
	<a href="/iurochskur">Läs mer om I Ur och Skur!</a>
</p><h2>Några viktiga fakta</h2><p>
	Våra öppettider är 
	<strong>6.30 - 17.30</strong><strong></strong>
</p><p>
	Under dagen serveras frukost, frukt, lunch och mellanmål. Vår fenomenala kokerska Anneli Flodin bjuder på god hemlagad mat till lunch varje dag. Till mellanmål dyker allt som oftast upp hembakat bröd.
</p><p>
	Vår strävan är att ha ekologisk mat så långt det är möjligt.
</p><p>
	Vi bjuder på blöjor.
</p><p>
	Beträffande avgiften tillämpar vi maxtaxa liksom de kommunala förskolorna.
</p><h2>Kontakt</h2><p>
	<strong></strong>Gånsviksvägen 4B<br>
	87160 Härnösand (precis intill Willys)
</p><p>
	<a href="tel:+4670-61 24 005">070-61 24 005</a><br>
</p><h2>Förskolechef</h2><p>
	<strong></strong>Margona Bränström <a href="tel:+4670-61 24 005">070-61 24 005</a>
</p><p>
	<a href="tel:+4670-61 24 005"></a><a href="mailto:mailto:margona@forskolan-solsidan.se">margona@forskolan-solsidan.se</a>
</p><h2>Huvudman</h2><p>
	<strong>Förskolan Solsidan AB </strong>ägt av
</p><p>
	Margona och Mats Bränström
	<br>
	Blåbärstigen 25
	<br>
	871 62 Härnösand
</p><p>
	<a href="tel:+4670 337 84 74">070 337 84 74</a>
</p>