// @import 'scaffolds'
// custom CSS for admin area

$primary-color: rgba(211, 143, 0, 1) !default;

body
  font-family: "Imprima", helvetica, sans-serif
  font-size: 18px


h1,h2,h3,h4,h5
  font-family: "Merriweather Sans", "Open Sans", serif
  text-transform: uppercase
  font-weight: 900
  line-height: 1.6
  letter-spacing: -0.5px
  margin-top: 32px
  .page-header > &
    margin-bottom: 2.5rem
  .redactor-editor &
    text-transform: uppercase
    // font-weight: normal
  span.label
    &.first, &:first-of-type
      margin-left: 10px

body#comfy

  h1.admin-header, #kids-search-form
    font-size: 16px
    color: #888
    a
      color: lighten($primary-color, 5%)
    // #FCD630
    margin-top: 30px
    margin-bottom: 20px
    &.first
      margin-left: 180px
    &.second
      font-size: 14px

  #kids-search-form input
    padding: 8px

  .left-column ul.navigation
    font-size: 20px
    .glyphicon
      top: 3px
    a[title]
      padding: 6px 12px 2px 0
      border: 0
      border-bottom: 0
      float: right
      position: relative
      z-index: 2


  .page-header
    margin-top: 1.6rem

  .statistics, .finance-event, .history-event
    .well
      h1,h2,h3,h4,h5,h6
        margin-top: 4px
        margin-bottom: 4px

  $green: #E1F1D5
  .finance-event
    .well
      background-color: $green
      color: darken($green, 50%)

  $blue: #E1E1F5
  .history-event
    .well
      background-color: $blue
      color: darken($blue, 50%)
      strong
        color: darken($blue, 70%)
      h5, p
        display: inline-block
        margin-bottom: 0

  .redactor-editor
    font-family: "Imprima", helvetica, sans-serif
    font-size: 18px
    p, ul, ol, div, table, dl
      font-size: 18px

  .body-wrapper .center-column
    border-top-left-radius: 6px

  // .body-wrapper .left-column {
  //   width: 175px;
  //   float: left;
  // }

  // .body-wrapper .left-column .left-column-content {
  //   padding: 25px 0px;
  //   width: 175px;
  //   position: fixed;
  // }

  $right_column_width: 4vw

  .body-wrapper .center-column
    margin-right: $right_column_width
  //   position: relative;
  //   margin: 0px 250px 0px 175px;
  //   min-height: 100%;
  //   background-color: #fff;

  // .body-wrapper .center-column .center-column-content {
  //   padding: 25px;
  // }

  .body-wrapper .right-column
    width: $right_column_width
  //   width: 250px;
  //   float: right;

  .body-wrapper .right-column .right-column-content
    width: $right_column_width
  //   padding: 25px 10px;
  //   width: 250px;
  //   position: fixed;
  //   height: 100%;
  //   background-color: #f5f5f5;


  // Trying to get tables/layout to behave

  .body-wrapper .center-column
    overflow-x: auto
    // white-space: normal

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    table.table
      font-size: 14px
      td
        .btn
          font-size: 10px

  table.table
    td, th
      white-space: normal
      &.main
        width: 26vw
        text-overflow: clip
        overflow: hidden
      &.narrow
        width: 2vw
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
      td
        white-space: normal
        text-overflow: clip
        overflow: hidden
        &.nobr
          white-space: pre-wrap
  //   table-layout: fixed
  //   width: 100%

  table
    tr
      &.inactive
        color: #bbb
        & > td > a
          color: #aaa
      td
        .glyphicon-arrow-right
          color: #ccc

  // LISTS

  .list-group
    h5 // Kids list in family form
      font-size: 20px
      margin-top: 12px
      text-transform: inherit

  .label // Label in the above
    font-family: "Imprima", helvetica, sans-serif;
    font-weight: normal
    letter-spacing: 0
    vertical-align: 20%
  .form-control-static
    .label
      font-size: 90%

  label.required:after
    content: "*"
    color: crimson

  // LIST ITEMS, ICONS

  .glyphicon
    vertical-align: -5%

  .item-title
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px
    text-transform: uppercase
    margin-bottom: 4px

  ul.list
    &.gallery .item
      .item-content
        margin-left: 110px
      .icon img
        max-width: 80px
        font-size: 4px
