.row
  .col-sm-12
    = form.collection_select :family_id, Family.order(:id), :id, :names_as_sentence, {include_blank: "Samtliga familjer", label: 'Skicka till'}

    %hr

    = form.text_field :subheader, icon: "info-sign", class: "input-lg"

    = form.text_area :text, rows: 3

    %hr

= form.form_group :class => 'form-actions' do
  = form.submit 'Skicka ut!', class: 'btn btn-lg btn-warning'