.page-header
  = link_to new_admin_message_path, class: 'btn btn-lg btn-default pull-right' do
    %span.glyphicon.glyphicon-pencil
    Nytt meddelande
  %h2= 'Meddelanden'

= paginate @messages, theme: 'comfy'

- cache @messages do
  %table.table.table-hover.table-bordered
    %tr
      %th Datum
      %th.main Rubrik
      %th Text
      %th Familj

    - @messages.each do |message|
      %tr{class: message.family ? 'inactive' : ''}
        %td= l message.created_at, format: :short
        %td.main= link_to message.subheader || '(Ingen rubrik)', admin_message_path(message)
        %td= message.text.truncate_words(3)
        %td
          - if message.family
            = link_to message.family.surnames, edit_admin_family_path(message.family)
          - else
            Samtliga

    %tfoot{style:'background-color:#eee'}
      %tr
        %td= "#{Message.count} st"
        %td
        %td
        %td

= paginate @messages, theme: 'comfy'
