=# stylesheet_link_tag "scaffolds"

.page-header
  .row
    .col-sm-5
      %h5.text-muted
        Skickades
        = l @message.created_at, format: :long

    .col-sm-7.text-right
      .btn-group
        = link_to rails_email_preview.rep_email_path('info_mailer_preview-information', message_id: @message), class: 'btn btn-lg btn-warning' do
          %span.glyphicon.glyphicon-envelope
          Visa mail

        = link_to admin_message_path(@message.id+1), class: 'btn btn-lg btn-default', title: 'Nästa meddelandet' do
          %span.glyphicon.glyphicon-arrow-down
          Nästa
        = link_to admin_message_path(@message.id+-1), class: 'btn btn-lg btn-default', title: 'Förra meddelandet' do
          %span.glyphicon.glyphicon-arrow-up
          Förra
.row
  .col-sm-12
    %blockquote
      = render 'info_mailer/message', { links: true }
