.row
  .small-9.columns
    %h2
      Intresseanmälan

    %p Det gör oss glada att ni är intresserade av att ha ert barn hos oss. Vi behöver att ni fyller i några uppgifter nedan, så återkommer vi till er inom kort!

    = form_for @family, url: @form_path do |f|
      .row
        = f.fields_for :kids do |ff|
          .small-4.columns
            %h5 Ert barn
            =# ff.label :full_name, 'Barnets namn', class: 'required'
            = ff.text_field :full_name, class: 'large'
            = ff.text_field :ssn
            = ff.date_field :start_date, label: 'Önskat startdatum'
            =# ff.text_field :arrival_time
            =# ff.text_field :pickup_time

        .small-4.columns
          %h5 Mamma
          = f.text_field :mother_name, class: 'large'
          = f.email_field :mother_email
          = f.phone_field :mother_phone

        .small-4.columns
          %h5 Pappa
          = f.text_field :father_name, class: 'large'
          = f.email_field :father_email
          = f.phone_field :father_phone

      .row
        .small-12.columns
          = f.text_area :lead_comments, help_text: 'Testar', rows: 4

      .row
        .small-6.columns
          = f.submit 'Anmäl intresse!', class: 'expanded button large primary'
