.row
  .col-sm-6
    .row
      %h4.text-right.text-muted.col-sm-4 Mamma
    .row
      = form.text_field :mother_name, label: "Namn", icon: "user", placeholder: "Åsa Berg", label_col: "col-sm-4", control_col: "col-sm-8", class: "input-lg"
      = form.text_field :mother_email, label: "Email", icon: "envelope", placeholder: "foralder@hemma.se", label_col: "col-sm-4", control_col: "col-sm-8"
      = form.text_field :mother_phone, label: "Telefon", icon: "phone", placeholder: "0703079187", label_col: "col-sm-4", control_col: "col-sm-6"
  .col-sm-6
    .row
      %h4.text-right.text-muted.col-sm-4 Pappa
    .row
      = form.text_field :father_name, label: "Namn", icon: "user", placeholder: "Johan Sten", label_col: "col-sm-4", control_col: "col-sm-8", class: "input-lg"
      = form.text_field :father_email, label: "Email", icon: "envelope", placeholder: "foralder@hemma.se", label_col: "col-sm-4", control_col: "col-sm-8"
      = form.text_field :father_phone, label: "Telefon", icon: "phone", placeholder: "0703079187", label_col: "col-sm-4", control_col: "col-sm-6"

%hr

- if form.object.id?
  .form-group
    %label.control-label.col-sm-2 Faktura
    .form-control-static.col-sm-3.text-muted
      = link_to 'Visa email', rails_email_preview.rep_email_path('fee_mailer_preview-reminder', family_id: form.object.id), class: 'btn btn-primary'
      = link_to 'Visa PDF', invoice_path(1, format: :pdf, family_id: form.object.id), class: 'btn btn-primary'

    %label.control-label.col-sm-2 Total avgift
    .form-control-static.col-sm-4
      %span.label.label.label-primary #{form.object.total_fee.to_i} kr / mån

  .form-group
    %label.control-label.col-sm-2 Barn
    - if form.object.kids.any?
      .list-group.col-sm-8
        - form.object.kids.each do |kid|
          = link_to edit_admin_kid_path(kid), class: "list-group-item" do
            %h5
              %span.glyphicon.glyphicon-user
              = kid.full_name
              %span.label.label.label-info #{kid.age} år
              %span.label.label.label-default #{kid.fee} kr / mån
              - if kid.active?
                %span.label.label.label-success Aktiv
              - else
                %span.label.label.label-default Inaktiv
            =# link_to 'Ta bort', admin_kid_path(kid), :method => :delete, :data => { :confirm => 'Säker?' }, :class => 'badge'
    - else
      .form-control-static.col-sm-10.text-muted Inga inlagda


= form.text_field :income, placeholder: "10000", append: "SEK", help: "Avgör avgift för förskoleplats.", control_col: "col-sm-4"
= form.form_group :parent_at_home, control_col: "col-sm-4" do
  = form.check_box :parent_at_home, label: "Föräldralediga", title: 'Någon av föräldrarna är hemma med barn'

%hr

= form.text_area :comment, rows: 3

= form.form_group :class => 'form-actions' do
  = form.submit :class => 'btn btn-lg btn-primary'