.page-header
  .row
    .col-sm-5
      %h2= 'Försenade fakturor'

    .col-sm-7
      .row
        .col-sm-5
          = link_to check_payments_admin_invoices_path, method: :post, data: { confirm: 'Säker på att du vill försöka hitta och matcha BG-inbetalningar?' }, class: 'btn btn-block btn-lg btn-success', title: 'Hitta och matcha BG-inbetalningar' do
            %span.glyphicon.glyphicon-refresh
            Hitta betalningar

        .col-sm-7
          - last = PaymentCheck.successful.last
          - ok = PaymentCheck.successful_lately?
          %ul.list-group
            %li{ class: (ok ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-danger') }
              %small
                - if ok
                  %span.glyphicon.glyphicon-ok-sign
                Senast lyckade kontroll:
                - if last
                  = l(last.updated_at, format: :short)
                - else
                  aldrig

  .row.statistics
    .col-sm-3
      .well.well-lg
        %h3
          = @all_paid_invoices.was_overdue_duration_average #.round
        genomsnittlig försening
    .col-sm-3
      .well.well-lg
        %h3
          = @overdue.count
          %small st
        sena fakturor
    .col-sm-3
      .well.well-lg
        %h3
          = @long_overdue.count
          %small st
        mer än en månad sena
    .col-sm-3
      .well.well-lg
        %h3
          = @overdue.sum(:amount_due).round
          %small kr
        totalt värde

= paginate @overdue_page, theme: 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th Månad
    %th Försening
    %th Barn
    %th Avgift
    %th Utestående
    %th
  - @overdue_page.each do |invoice|
    %tr
      /%td.main= link_to invoice.fee_month, edit_admin_family_path(family)
      %td{ title: invoice.status_text }
        = l(invoice.fee_month, format: :month).capitalize
      %td{ title: invoice.status_text }
        = invoice.overdue_duration
      %td.wrap= link_to invoice.family.name_with_kids, edit_admin_family_path(invoice.family), title: invoice.family.full_name
      %td= "#{invoice.amount.round.to_i} kr"
      %td= "#{invoice.amount_due.round.to_i} kr"
      %td
        .btn-group.btn-group-sm
          = link_to invoice_path(invoice, format: :pdf), class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-qrcode
            Visa

          - if !invoice.last_reminded
            = notice_link(invoice)
          - elsif invoice.not_recently_reminded? && invoice.overdue?
            = reminder_link(invoice)

          = admin_links(invoice)


  %tfoot{style:'background-color:#eee'}
    %tr
      %td
      %td
      %td
      %td
      %td= "#{@overdue.sum(:amount_due).round} kr"
      %td

= paginate @overdue_page, theme: 'comfy'


- if @paid_invoices.any?
  .page-header
    %hr
    %h2
      = 'Nyligen fullt betalda fakturor'
      %small Visar senaste 12

  %table.table.table-hover.table-bordered{style:'background-color: #E5EED8'}
    %tr
      %th Månad
      %th Försening
      %th Barn
      %th Inbetalning från
      %th Barn
      %th Avgift
      %th Betalat
      %th
    - @paid_invoices.each do |invoice|
      %tr{ title: invoice.status_text_paid, style: "background-color: #{'#F3E2DA' if invoice.overpayed?}" }
        /%td.main= link_to invoice.fee_month, edit_admin_family_path(family)
        %td= l(invoice.fee_month, format: :month).capitalize
        %td= invoice.was_overdue_duration
        %td.wrap= link_to invoice.family.kids.active.map(&:forename).to_sentence, edit_admin_family_path(invoice.family), title: invoice.family.full_name
        %td= invoice.payments.last &.from_name
        %td= "#{invoice.family.kids.active.count} st"
        %td= "#{invoice.amount.round.to_i} kr"
        %td= "#{invoice.payments.sum(:amount).round.to_i} kr"
        %td
          .btn-group.btn-group-sm
            = link_to invoice_path(invoice, format: :pdf), class: 'btn btn-primary' do
              %span.glyphicon.glyphicon-qrcode
              Visa


- if @unmatched_payments.any?
  .page-header
    %hr
    %h2
      = 'Ej matchade inbetalningar'
      %small Visar senaste 12

  %table.table.table-hover.table-bordered{style:'background-color: #FEF9E0'}
    %tr
      %th Inkom
      %th Summa
      %th Referens
      %th Från
      %th
    - @unmatched_payments.each do |payment|
      %tr
        %td= l(payment.given_on, format: :long).capitalize
        %td= "#{payment.amount} kr"
        %td= payment.reference
        %td= payment.from_name
        %td
          -#.btn-group.btn-group-sm
            = link_to invoice_path(invoice, format: :pdf), class: 'btn btn-primary' do
              %span.glyphicon.glyphicon-qrcode
              Visa

    %tfoot{style:'background-color:#eee'}
      %tr
        %td
        %td= "#{@unmatched_payments.map(&:amount).sum.round} kr"
        %td
        %td


- if @new_invoices.any?
  .page-header
    %hr
    %h2= 'Färska fakturor'

  %table.table.table-hover.table-bordered{style:'background-color: #DAEAF0'}
    %tr
      %th Månad
      %th Familj
      %th Barn
      %th Avgift
      %th Utestående
      %th
    - @new_invoices.each do |invoice|
      %tr
        /%td.main= link_to invoice.fee_month, edit_admin_family_path(family)
        %td= l(invoice.fee_month, format: :month).capitalize
        %td= link_to invoice.family.surnames, edit_admin_family_path(invoice.family)
        %td= "#{invoice.family.kids.active.count} st"
        %td= "#{invoice.amount.round.to_i} kr"
        %td= "#{invoice.amount_due.round.to_i} kr"
        %td
          .btn-group.btn-group-sm
            = link_to invoice_path(invoice, format: :pdf), class: 'btn btn-primary' do
              %span.glyphicon.glyphicon-qrcode
              Visa

            - if !invoice.last_reminded
              = notice_link(invoice)
            - else
              = reminder_link(invoice)

            = link_to mark_as_payed_admin_invoice_path(invoice), method: :post, data: { confirm: 'Säker på att du vill markera denna faktura som betald?' }, class: 'btn btn-success', title: 'Markera denna faktura som betald' do
              %span.glyphicon.glyphicon-ok-circle
              Betald

            = link_to cancel_admin_invoice_path(invoice), method: :post, data: { confirm: 'Säker på att du vill makulera denna faktura?' }, class: 'btn btn-warning', title: 'Makulera denna faktura' do
              %span.glyphicon.glyphicon-trash
              Makulera

            = link_to replace_admin_invoice_path(invoice), method: :post, data: { confirm: 'Säker på att du vill ersätta denna faktura med en som skapats utifrån senaste datan? Ev. delbetalning kommer att återappliceras.' }, class: 'btn btn-default', title: 'Ersätt denna faktura med en som skapats utifrån senaste datan. Finns delbetalning återappliceras den.' do
              %span.glyphicon.glyphicon-repeat
              Ersätt


    %tfoot{style:'background-color:#eee'}
      %tr
        %td
        %td
        %td
        %td
        %td= "#{@new_invoices.map(&:amount_due).sum.round} kr"
        %td



%p.text-muted
  Logga in på
  = link_to 'SendGrid', 'https://app.sendgrid.com/statistics'
  för mer statistik om mail som skickats ut.
