.row
  .small-12.columns
    %h2
      Obetald Faktura Förskoleplats Solsidan #{@invoice.fee_month_human}

    %h5
      = @invoice.overdue_duration
      försenad

    - if @kids.any?
      %p Fakturan för familjen #{@family.name}s barn #{@kids.map(&:forename).to_sentence}s plats på Förskolan Solsidan verkar inte ha betalats ännu. Förfallodatum var #{l(@invoice.due_date, format: :short)}.

      - if @family.phones.any?
        %p Deras telefonnummer är #{@family.phones.to_sentence}.

      %h5= link_to "Visa faktura online", invoice_url(@invoice, format: :pdf)

    - else
      %p Inga barn finns registrerade för familjen #{@family.surnames}.  }
