.row
  .small-12.columns
    %h2
      Månadsfaktura Solsidan #{@invoice.fee_month_human}

    - if @kids.any?
      /%p Hej familjen #{@family.surnames}.
      %p Här kommer månadens faktura för er#{@kids.many? ? "a":"t"} barn #{@kids.map(&:forename).to_sentence}s plats på Förskolan Solsidan. Förfallodatum är #{l(@invoice.due_date, format: :short)}.

      %h5= link_to "Visa faktura online", invoice_url(@invoice, format: :pdf)

    - else
      %p Inga barn finns registrerade för familjen #{@family.surnames}.