.row
  .small-12.columns
    %h2
      Dags att kolla av inbetalningar

    %h5= link_to "Öppna Mobilt BankID", bankid_url

    %p För att hämta nya inbetalningsuppgifter från Bankgirokontot, klicka ovan inom 2 min! Om något kommit in så ska det registreras automatiskt.


