%h5
  = Message::HEADER
  - if @message.family
    %span.text-muted
      till familjen
      - if defined?(links)
        = link_to @message.family.surnames, edit_admin_family_url(@message.family)
      - else
        = @message.family.surnames

%h2= @message.subheader

%p= simple_format @message.text

