= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Imprima'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Merriweather+Sans'

/ Mobile viewport optimized: j.mp/bplateviewport
/ %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}

.row
  .col-sm-7
    %h1.admin-header.first
      %a{href: '/'}
        %span.glyphicon.glyphicon-asterisk
        Förskolan Solsidan
      \ - Administration
  .col-sm-4
    .row
      - if Rails.env.development?
        .col-sm-6.text-right
          %h1.admin-header.second
            %span.text-danger
              %span.glyphicon.glyphicon-alert
              Obs!
            Utvecklingsläge
      .col-sm-6.text-right
        = form_tag(admin_kids_path, method: "get", id: "kids-search-form") do
          = text_field_tag :name, params[:name], placeholder: "Sök barn"
