%li
  = active_link_to 'Meddelanden', admin_messages_path
%li
  %a.quick-add-icon{href: new_admin_family_path, title: "Ny familj"}
    %span.glyphicon.glyphicon-plus-sign
  = active_link_to 'Familjer', admin_families_path
%li
  %a.quick-add-icon{href: new_admin_kid_path, title: "Nytt barn"}
    %span.glyphicon.glyphicon-plus-sign
  = active_link_to 'Barn', admin_kids_path
%li
  = active_link_to 'Fakturor', admin_invoices_path
%li
  = active_link_to 'Finanser', admin_finances_path
%li= active_link_to 'Intresse', leads_admin_families_path
