<form id="auth" name="auth" method="post" action="https://internetbank.swedbank.se/idp/portal/identifieringidp/idp/dap1/ver=2.0/action/rparam=execution=e1s2" enctype="application/x-www-form-urlencoded">
  	<input name="execution" type="hidden" value="e1s2">

    <div class="section main">
      <div class="header">
        <h3>Inloggningsuppgifter</h3>
      </div>
      <div class="content">
        <div class="dl-container">
          <dl class="first">
            <dt class="width30">
              <label for="auth:kundnummer">Personnummer
	           </label>
            </dt>
            <dd class="width70"><input id="auth:kundnummer" name="auth:kundnummer" type="text" value="" maxlength="13" size="14" title="Skriv år med sekelsiffror, månad, dag samt de fyra sista siffrorna." class="textruta" autocomplete="off">
	           			<span>ååååmmddxxxx</span>
             </dd>
          </dl>
          <dl>
            <dt class="width30">
              <label for="auth:metod_2">Logga in med</label>
            </dt>
            <dd class="width70"><select id="auth:metod_2" name="auth:metod_2" size="1" title="Välj inloggningssätt.">	<option value="ACTCARD">Säkerhetsdosa</option>	<option value="MOBILBID">Mobilt BankID</option>	<option value="BIDKORT">BankID på kort</option>	<option value="FTGKOPPL">Företagskopplad dosa</option>	<option value="BIDMBXID">Mobilt SäkerhetsID</option></select><input id="auth:efield" name="auth:efield" type="text" value="1" maxlength="1" size="1" style="visibility:hidden">
        	</dd>
          </dl>
      </div>
      <div class="clear"></div>
    </div>
	<div class="footer delimiter"><input id="auth:fortsett_knapp" name="auth:fortsett_knapp" type="submit" value="Fortsätt" onclick="return checkNotZeroLength('auth:kundnummer', 'Skriv år med sekelsiffror, månad, dag samt de fyra sista siffrorna.');" title="Fortsätt med inloggningen." tabindex="0"><input id="auth:avbryt_knapp" name="auth:avbryt_knapp" type="submit" value="Avbryt" title="Inloggningen avbryts.">
    </div>
  </div><input type="hidden" name="auth_SUBMIT" value="1"><input type="hidden" name="javax.faces.ViewState" id="javax.faces.ViewState" value="rO0ABXVyABNbTGphdmEubGFuZy5PYmplY3Q7kM5YnxBzKWwCAAB4cAAAAAN0AAEycHQAJy9XRUItSU5GL2Zsb3dzL2lkcC91c2VyaWRfRGVmYXVsdC54aHRtbA=="></form>