<div class="sidinnehall">
<a name="innehall"></a>

<table class="sidinnehall-tabell" cellspacing="0">
  <tbody><tr>
    <td class="sidinnehall-tabell-cell">


      <table style="width : 100%" cellspacing="0">
        <tbody><tr>
          <td class="sidspalt2a">



              <div class="sektion-huvud">
                <h3 class="sektion-rubrik">Swedbank AB (publ)</h3>
              </div>

              	<div class="sektion botten">

              <div class="sektion-innehall">



					<table style="width : 100%" cellspacing="0" class="tabell">

                  		<tbody><tr>
                    		<th class="tabell-huvud" style="width : 50%" align="left" scope="col"><span class="tabell-kolumnrubrik">Privat</span></th>
                    		<th class="tabell-huvud" style="width : 50%" align="left" scope="col"><span class="tabell-kolumnrubrik">Personnummer</span></th>
                  		</tr>
                  		<tr>
                    		<td class="tabell-cell-topp-botten"><a href="https://internetbank.swedbank.se/bviPrivat/privat?IntId=dap1&amp;locale=sv_SE&amp;dapPortalWindowId=dap1&amp;WindowSessId=1476605968372649548&amp;navigeringsindex=0&amp;NavigeringsErende=kv6IEdi1T7iOgyEe41x9hgtBIXY6W0JANjQ0NDA0YjM6PplzcQ%3D%3D" title="Klicka för att komma till Startsidan.">Margona Bränström</a></td>
                    		<td class="tabell-cell-topp-botten">19610208-7886</td>
                  		</tr>
                	</tbody></table>



				<table style="width : 100%" cellspacing="0" class="tabell">
				<tbody><tr>
                    <th class="tabell-huvud" style="width : 50%" align="left" scope="col"><span class="tabell-kolumnrubrik">Företag</span></th>
                    <th class="tabell-huvud" style="width : 50%" align="left" scope="col"><span class="tabell-kolumnrubrik">Organisationsnummer</span></th>
                  </tr>

	                <tr>


							<td class="tabell-cell-topp-botten"><a href="https://internetbank.swedbank.se/bviforetagplus/PortalBvIForetagPlus?IntId=dap1&amp;locale=sv_SE&amp;dapPortalWindowId=dap1&amp;WindowSessId=1476605968372649548&amp;navigeringsindex=1&amp;NavigeringsErende=kv6IEdi1T7iOgyEe41x9hgtBIXY6W0JANjQ0NDA0YjM6PplzcQ%3D%3D" title="Klicka för att komma till Startsidan.">Förskolan Solsidan AB</a></td>
							<td class="tabell-cell-topp-botten">556932-9880</td>



        	        </tr>

                </tbody></table>

                </div>


	              </div>

          <!--  </div>  -->





        </td><td class="sidspalt-marginal">&nbsp;</td>
        <td class="sidspalt2b">


	          &nbsp;





      </td></tr></tbody></table>

    </td>
  </tr>
</tbody></table>

<!-- sidinnehall slut -->
</div>