<td class="sidspalt2a">




























<!-- tilleggsobjekt sida start FunkTopp-->








<!-- tilleggsobjekt sida end FunkTopp -->





























    <div class="sektion botten">

    <div class="sektion-huvud">
		<h3 class="mellanrubrik">Meddelanden</h3>
	</div>
	<div class="sektion-innehall">

    <table width="100%" cellspacing="0" class="tabell">
        <caption class="tabell-rubrik">Inkomna</caption>

            <tbody><tr>
                <th class="tabell-huvud" width="15%" align="left" scope="col"><span class="tabell-kolumnrubrik">Datum</span></th>
                <th class="tabell-huvud" width="35%" align="left" scope="col"><span class="tabell-kolumnrubrik">Avsändare</span></th>
                <th class="tabell-huvud" width="50%" align="left" scope="col"><span class="tabell-kolumnrubrik">Ämne</span></th>
            </tr>



	            	<tr>
	                    <td class="tabell-cell-topp meddelande-olest">
	                    	16-10-13
	                    </td>
	                    <td class="tabell-cell-topp meddelande-olest">
	                    Internetbankens Kundtjänst</td>
	                    <td class="tabell-cell-topp meddelande-olest">

	                    <a href="?TDEApplName=TDEApplDialogenmeddelande&amp;_flow_id_=VISA_MEDDELANDE_DETALJ_PRE_CLIENT&amp;_new_flow_=false&amp;meddelandeListId=8a1bef965796b8a90157bf80d8750381&amp;requestId=1&amp;WindowSessId=1476606004832723135&amp;meddelandeTradId=8a1bef965791a0720157baa8ff931032&amp;meddelandeMassmeddelandeId=" title="Klicka för att läsa hela meddelandet." onclick="onLinkClick(this)">Sv: Behörighetsadministration</a>

	                    </td>
	                </tr>




	            	<tr>
	                    <td class="tabell-cell meddelande-olest">
	                    	16-09-27
	                    </td>
	                    <td class="tabell-cell meddelande-olest">
	                    Swedbank och Sparbankerna</td>
	                    <td class="tabell-cell meddelande-olest">

	                    <a href="?TDEApplName=TDEApplDialogenmeddelande&amp;_flow_id_=VISA_MEDDELANDE_DETALJ_PRE_CLIENT&amp;_new_flow_=false&amp;meddelandeListId=8a1bef9a572589a701576b7981891f15&amp;requestId=1&amp;WindowSessId=1476606004832723135&amp;meddelandeTradId=&amp;meddelandeMassmeddelandeId=8a1bef9a572589a701576b7981891f15" title="Klicka för att läsa hela meddelandet." onclick="onLinkClick(this)">Nyhetsbrev e-bokföring september 2016</a>

	                    </td>
	                </tr>




	            	<tr>
	                    <td class="tabell-cell-botten meddelande-olest">
	                    	16-09-01
	                    </td>
	                    <td class="tabell-cell-botten meddelande-olest">
	                    Swedbank AB (publ)</td>
	                    <td class="tabell-cell-botten meddelande-olest">

	                    <a href="?TDEApplName=TDEApplDialogenmeddelande&amp;_flow_id_=VISA_MEDDELANDE_DETALJ_PRE_CLIENT&amp;_new_flow_=false&amp;meddelandeListId=8a1bef9956b94b5f0156e0b3178d33c0&amp;requestId=1&amp;WindowSessId=1476606004832723135&amp;meddelandeTradId=&amp;meddelandeMassmeddelandeId=8a1bef9956b94b5f0156e0b3178d33c0" title="Klicka för att läsa hela meddelandet." onclick="onLinkClick(this)">Hjälp oss att bli bättre</a>

	                    </td>
	                </tr>





    </tbody></table>


        <table width="100%" cellspacing="0" class="tabell">
            <caption class="tabell-rubrik">Skickade</caption>
            <tbody><tr>
                <th class="tabell-huvud" width="15%" align="left" scope="col"><span class="tabell-kolumnrubrik">Datum</span></th>
                <th class="tabell-huvud" width="35%" align="left" scope="col"><span class="tabell-kolumnrubrik">Avsändare</span></th>
                <th class="tabell-huvud" width="50%" align="left" scope="col"><span class="tabell-kolumnrubrik">Ämne</span></th>
            </tr>

                <tr>
                    <td class="tabell-cell-topp">16-10-12</td>
                    <td class="tabell-cell-topp">Förskolan Solsidan AB</td>
                    <td class="tabell-cell-topp">
                     <a href="?TDEApplName=TDEApplDialogenmeddelande&amp;_flow_id_=VISA_MEDDELANDE_DETALJ_PRE_CLIENT&amp;_new_flow_=false&amp;meddelandeListId=8a1bef965791a0720157baa8ff941033&amp;requestId=1&amp;WindowSessId=1476606004832723135&amp;meddelandeTradId=8a1bef965791a0720157baa8ff931032&amp;meddelandeMassmeddelandeId=" title="Klicka för att läsa hela meddelandet." onclick="onLinkClick(this)">Behörighetsadministration</a></td>
                </tr>

                <tr>
                    <td class="tabell-cell-botten">16-02-23</td>
                    <td class="tabell-cell-botten">Förskolan Solsidan AB</td>
                    <td class="tabell-cell-botten">
                     <a href="?TDEApplName=TDEApplDialogenmeddelande&amp;_flow_id_=VISA_MEDDELANDE_DETALJ_PRE_CLIENT&amp;_new_flow_=false&amp;meddelandeListId=8a1bef9852a4532d01531038047a2dab&amp;requestId=1&amp;WindowSessId=1476606004832723135&amp;meddelandeTradId=8a1bef9852a4532d0153103804792daa&amp;meddelandeMassmeddelandeId=" title="Klicka för att läsa hela meddelandet." onclick="onLinkClick(this)">Betala/Överföra</a></td>
                </tr>

        </tbody></table>



    	<span class="infotext">
    		<a href="?TDEApplName=TDEApplDialogenmeddelande&amp;_flow_id_=VISA_ALLA_PRE_CLIENT&amp;_new_flow_=false&amp;requestId=1&amp;WindowSessId=1476606004832723135" title="Visa alla meddelanden" onclick="onLinkClick(this)">Visa alla</a>
	  	</span>

    </div>



















<link rel="stylesheet" type="text/css" href="jsp/portal/bviforetagplus/css/fspa_kontospecifikmeny.css">
<script language="JavaScript" type="text/javascript" src="/TDEApplEngagemang/jsp/tdeappl/engagemang/js/menucomponent/menuwrapper.js"></script>









</div>
	<div class="sektion botten">
	<div class="sektion-huvud">
		<h3 class="mellanrubrik">Egna konton</h3>
	</div>
	<div class="sektion-innehall">
			<table width="100%" cellspacing="0" class="tabell">
				<tbody><tr>
					<td class="tabell-rubrik" colspan="4">Konton i svenska kronor</td>
				</tr>
				<tr>
					<th class="tabell-huvud" width="30%" align="left" scope="col"><span class="tabell-kolumnrubrik">
						Konto</span>
					</th>
					<th class="tabell-huvud" width="35%" align="left" scope="col"><span class="tabell-kolumnrubrik">
						Kontonummer</span>
					</th>
					<th class="tabell-huvud" width="10%" align="left" scope="col"><span class="tabell-kolumnrubrik">
						Valuta</span>
					</th>
					<th class="tabell-huvud" width="25%" align="right" scope="col"><span class="tabell-kolumnrubrik">
						Tillgängligt belopp</span>
					</th>
				</tr>

					<tr>




















												<td class="tabell-cell-topp-botten">


													<a href="?TDEApplName=TDEApplInlan&amp;_flow_id_=HEMTA_KONTOTRANSAKTIONER_HEMTA_KUNDNR_PRE_CLIENT&amp;_new_flow_=false&amp;valtKontoProduktnamn=F%F6retagskonto&amp;VALT_KONTO_PRODUKTNAMN_ORGINAL=F%F6retagskonto&amp;requestId=1&amp;valtKontoNamn=F%D6RSKOLAN+SOLSIDAN+AB&amp;valtKoncernkontoClnr=84202&amp;menuId=TRF_Transaktioner&amp;WindowSessId=1476606004832723135&amp;valtKontoKodStomme=GRK&amp;valtKontoProduktId=TRF00903&amp;clearingnr=84202&amp;valtKontoClnrKontonr=842029345006747&amp;kontonr=9345006747&amp;valtKonto=8420-2%2C934+500+674-7&amp;valtKoncernkontoKontonr=9345006747" title="Till sidan med kontohistorik." onclick="onLinkClick(this)">Företagskonto</a>


												</td>




						<td class="tabell-cell-topp-botten">8420-2,934 500 674-7</td>
						<td class="tabell-cell-topp-botten">SEK&nbsp;</td>
						<td class="tabell-cell-topp-botten" align="right"><span style="white-space : nowrap">137 775,87</span>&nbsp;</td>
					</tr>

			</tbody></table>

		</div>
	</div>

































	<div class="sektion paminnelser">
	<div class="sektion-huvud">
		<h3 class="mellanrubrik">
			Påminnelser
		</h3>
	</div>
	<div class="sektion-innehall">



















					<table width="100%" cellspacing="0" class="tabell">
						<caption class="tabell-rubrik2">
							Inkomna ärenden
						</caption>

















							<tbody><tr>
								<td class="tabell-cell-text">
									<a href="?TDEApplName=TDEApplDokumenthantering&amp;_flow_id_=HEMTA_DOKUMENTLISTA_AKTUELLA_PRECLIENT&amp;_new_flow_=false&amp;backFlowId=&amp;requestId=1&amp;E-FAKTURA=E-FAKTURA&amp;WindowSessId=1476606004832723135&amp;backTDEAppl=" title="Till sidan för mer information." onclick="onLinkClick(this)">Det finns inkomna fakturor</a>
								</td>
							</tr>



					</tbody></table>






	</div>
	</div>




























<!-- tilleggsobjekt sida start FunkBotten-->






<!-- tilleggsobjekt sida end FunkBotten -->




		</td>