<div class="sektion">
	<div class="sektion-huvud">
		<h3 class="mellanrubrik">Ankommande bankgirobetalningar</h3>
	</div>
	<form id="form_bg_betalningar" name="form_bg_betalningar" method="post" action="/bviforetagplus/PortalBvIForetagPlus?TDEApplName=TDEApplBankgiro&amp;_flow_id_=BANKGIRO_STARTA_BGC_APPLIKATION_PRECLIENT&amp;_new_flow_=false&amp;requestId=4&amp;WindowSessId=1476606004832723135" target="_blank">
	<div class="sektion-innehall2">
		<div class="form">
				<table width="100%" cellspacing="0" class="form-uppstellning">
					<tbody><tr>
						<td width="40%" class="form-feltnamn-topp">Välj valuta</td>
				  		<td class="form-felt-topp">
				  			<input type="radio" name="valuta" value="SEK" checked="checked" style="alternativknapp" id="SEK" title="Svenska kronor">
				        	<label for="SEK">Svenska kronor</label>
				        	<input type="radio" name="valuta" value="EUR" style="alternativknapp" id="EUR" title="Euro">
				        	<label for="EUR">EURO</label>
				        </td>
					</tr>

						<tr>
							<td class="form-feltnamn-botten">

									Välj bankgironummer
								&nbsp;
							</td>
							<td class="form-felt-botten">

								<input type="radio" name="bankgironummer" value="502-4500" checked="checked" style="alternativknapp" id="502-4500" title="Bankgironummer">
				        		<label for="502-4500">502-4500</label>
		  					</td>
						</tr>

				</tbody></table>
		</div>
	</div>
	<div class="sektion-fot">
		<div class="knappar">
			<input type="submit" name="visa_ankommande" value="Visa" class="knapp" title="Öppnar Bankgirocentralens sida i eget fönster">
		</div>
	</div>
	</form>
</div>