<div class="Content">
        <span id="ctl00_ctl00_ctl00_contentContainer_updateContentPanel">
                <div id="ContainerDiv" style="z-index: 4;">
                    <h5><span id="ctl00_ctl00_ctl00_contentContainer_RecipientInfoLabel" class="OneDay">Mottagare: FÖRSKOLAN SOLSIDAN AB Bankgironr: 502-4500 Valuta: SEK</span></h5>
                </div>

            </span>

        <div id="ctl00_ctl00_ctl00_contentContainer_ShowContentAreaPanel">

            <!-- Dynamic content table -->


    <script language="javascript" type="text/javascript">
        var _app = Sys.Application;
        _app.add_init(applicationInit);

        function applicationInit(sender, args) {
            var prm = Sys.WebForms.PageRequestManager.getInstance();
            prm.add_endRequest(endRequest);
        }

        // The endRequest function executes onUpdated and resets opacity for updatepanel.
        // This is an explicit call because animation onUpdated is not triggered when input validations yields error messages in errorMessagePanel.
        function endRequest(sender, args) {
            onUpdated();
        }

   </script>

   <script language="javascript" type="text/javascript">Sys.Application.add_load(SynchronizePanelsAndRadioButtons);</script>

   <div>
       <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_MandatoryInformation" style="text-align:right">
                        <span class="MandatoryLabel">*</span>
                        <span class="label">Obligatorisk uppgift</span>
                    </div>
               <!-- Card Panel -->


                <!-- BankDaysLabel -->
                <div style="position: absolute;left:0;top:0;">
                    <input type="hidden" name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$BankDaysLabel" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_BankDaysLabel" value="2016-10-17,2016-10-18,2016-10-19,2016-10-20,2016-10-21,2016-10-24,2016-10-25,2016-10-26,2016-10-27,2016-10-28,2016-10-31,2016-11-01,2016-11-02,2016-11-03,2016-11-04,2016-11-07,2016-11-08,2016-11-09,2016-11-10,2016-11-11,2016-11-14,2016-11-15,2016-11-16,2016-11-17,2016-11-18,2016-11-21,2016-11-22,2016-11-23,2016-11-24,2016-11-25,2016-11-28,2016-11-29,2016-11-30,2016-12-01,2016-12-02,2016-12-05,2016-12-06,2016-12-07,2016-12-08,2016-12-09,2016-12-12,2016-12-13,2016-12-14,2016-12-15,2016-12-16,2016-12-19,2016-12-20,2016-12-21,2016-12-22,2016-12-23,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2017-01-02,2017-01-03,2017-01-04,2017-01-05,2017-01-09,2017-01-10,2017-01-11,2017-01-12,2017-01-13,2017-01-16,2017-01-17,2017-01-18,2017-01-19,2017-01-20,2017-01-23,2017-01-24,2017-01-25,2017-01-26,2017-01-27,2017-01-30,2017-01-31,2017-02-01,2017-02-02,2017-02-03,2017-02-06,2017-02-07,2017-02-08,2017-02-09,2017-02-10,2017-02-13,2017-02-14,2017-02-15,2017-02-16,2017-02-17,2017-02-20,2017-02-21,2017-02-22,2017-02-23,2017-02-24,2017-02-27,2017-02-28,2017-03-01,2017-03-02,2017-03-03,2017-03-06,2017-03-07,2017-03-08,2017-03-09,2017-03-10,2017-03-13,2017-03-14,2017-03-15,2017-03-16,2017-03-17,2017-03-20,2017-03-21,2017-03-22,2017-03-23,2017-03-24,2017-03-27,2017-03-28,2017-03-29,2017-03-30,2017-03-31,2017-04-03,2017-04-04,2017-04-05,2017-04-06,2017-04-07,2017-04-10,2017-04-11,2017-04-12,2017-04-13,2017-04-18,2017-04-19,2017-04-20,2017-04-21,2017-04-24,2017-04-25,2017-04-26,2017-04-27,2017-04-28,2017-05-02,2017-05-03,2017-05-04,2017-05-05,2017-05-08,2017-05-09,2017-05-10,2017-05-11,2017-05-12,2017-05-15,2017-05-16,2017-05-17,2017-05-18,2017-05-19,2017-05-22,2017-05-23,2017-05-24,2017-05-26,2017-05-29,2017-05-30,2017-05-31,2017-06-01,2017-06-02,2017-06-05,2017-06-07,2017-06-08,2017-06-09,2017-06-12,2017-06-13,2017-06-14,2017-06-15,2017-06-16,2017-06-19,2017-06-20,2017-06-21,2017-06-22,2017-06-26,2017-06-27,2017-06-28,2017-06-29,2017-06-30,2017-07-03,2017-07-04,2017-07-05,2017-07-06,2017-07-07,2017-07-10,2017-07-11,2017-07-12,2017-07-13,2017-07-14,2017-07-17,2017-07-18,2017-07-19,2017-07-20,2017-07-21,2017-07-24,2017-07-25,2017-07-26,2017-07-27,2017-07-28,2017-07-31,2017-08-01,2017-08-02,2017-08-03,2017-08-04,2017-08-07,2017-08-08,2017-08-09,2017-08-10,2017-08-11,2017-08-14,2017-08-15,2017-08-16,2017-08-17,2017-08-18,2017-08-21,2017-08-22,2017-08-23,2017-08-24,2017-08-25,2017-08-28,2017-08-29,2017-08-30,2017-08-31,2017-09-01,2017-09-04,2017-09-05,2017-09-06,2017-09-07,2017-09-08,2017-09-11,2017-09-12,2017-09-13,2017-09-14,2017-09-15,2017-09-18,2017-09-19,2017-09-20,2017-09-21,2017-09-22,2017-09-25,2017-09-26,2017-09-27,2017-09-28,2017-09-29,2017-10-02,2017-10-03,2017-10-04,2017-10-05,2017-10-06,2017-10-09,2017-10-10,2017-10-11,2017-10-12,2017-10-13,2017-10-16,2017-10-17,2017-10-18,2017-10-19,2017-10-20,2017-10-23,2017-10-24,2017-10-25,2017-10-26,2017-10-27,2017-10-30,2017-10-31,2017-11-01,2017-11-02,2017-11-03,2017-11-06,2017-11-07,2017-11-08,2017-11-09,2017-11-10,2017-11-13,2017-11-14,2017-11-15,2017-11-16,2017-11-17,2017-11-20,2017-11-21,2017-11-22,2017-11-23,2017-11-24,2017-11-27,2017-11-28,2017-11-29,2017-11-30,2017-12-01,2017-12-04,2017-12-05,2017-12-06,2017-12-07,2017-12-08,2017-12-11,2017-12-12,2017-12-13,2017-12-14,2017-12-15,2017-12-18,2017-12-19,2017-12-20,2017-12-21,2017-12-22,2017-12-27,2017-12-28,2017-12-29,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-08,2018-01-09,2018-01-10,2018-01-11,2018-01-12,2018-01-15,2018-01-16,2018-01-17,2018-01-18,2018-01-19,2018-01-22,2018-01-23,2018-01-24,2018-01-25,2018-01-26,2018-01-29,2018-01-30,2018-01-31,2018-02-01,2018-02-02,2018-02-05,2018-02-06,2018-02-07,2018-02-08,2018-02-09,2018-02-12,2018-02-13,2018-02-14,2018-02-15,2018-02-16,2018-02-19,2018-02-20,2018-02-21,2018-02-22,2018-02-23,2018-02-26,2018-02-27,2018-02-28,2018-03-01,2018-03-02,2018-03-05,2018-03-06,2018-03-07,2018-03-08,2018-03-09,2018-03-12,2018-03-13,2018-03-14,2018-03-15,2018-03-16,2018-03-19,2018-03-20,2018-03-21,2018-03-22,2018-03-23,2018-03-26,2018-03-27,2018-03-28,2018-03-29,2018-04-03,2018-04-04,2018-04-05,2018-04-06,2018-04-09,2018-04-10,2018-04-11,2018-04-12,2018-04-13,2018-04-16,2018-04-17,2018-04-18,2018-04-19,2018-04-20,2018-04-23,2018-04-24,2018-04-25,2018-04-26,2018-04-27,2018-04-30,2018-05-02,2018-05-03,2018-05-04,2018-05-07,2018-05-08,2018-05-09,2018-05-11,2018-05-14,2018-05-15,2018-05-16,2018-05-17,2018-05-18,2018-05-21,2018-05-22,2018-05-23,2018-05-24,2018-05-25,2018-05-28,2018-05-29,2018-05-30,2018-05-31,2018-06-01,2018-06-04,2018-06-05,2018-06-07,2018-06-08,2018-06-11,2018-06-12,2018-06-13,2018-06-14,2018-06-15,2018-06-18,2018-06-19,2018-06-20,2018-06-21,2018-06-25,2018-06-26,2018-06-27,2018-06-28,2018-06-29,2018-07-02,2018-07-03,2018-07-04,2018-07-05,2018-07-06,2018-07-09,2018-07-10,2018-07-11,2018-07-12,2018-07-13,2018-07-16,2018-07-17,2018-07-18,2018-07-19,2018-07-20,2018-07-23,2018-07-24,2018-07-25,2018-07-26,2018-07-27,2018-07-30,2018-07-31,2018-08-01,2018-08-02,2018-08-03,2018-08-06,2018-08-07,2018-08-08,2018-08-09,2018-08-10,2018-08-13,2018-08-14,2018-08-15,2018-08-16,2018-08-17,2018-08-20,2018-08-21,2018-08-22,2018-08-23,2018-08-24,2018-08-27,2018-08-28,2018-08-29,2018-08-30,2018-08-31,2018-09-03,2018-09-04,2018-09-05,2018-09-06,2018-09-07,2018-09-10,2018-09-11,2018-09-12,2018-09-13,2018-09-14,2018-09-17,2018-09-18,2018-09-19,2018-09-20,2018-09-21,2018-09-24,2018-09-25,2018-09-26,2018-09-27,2018-09-28,2018-10-01,2018-10-02,2018-10-03,2018-10-04,2018-10-05,2018-10-08,2018-10-09,2018-10-10,2018-10-11,2018-10-12,2018-10-15,2018-10-16,2018-10-17,2018-10-18,2018-10-19,2018-10-22,2018-10-23,2018-10-24,2018-10-25,2018-10-26,2018-10-29,2018-10-30,2018-10-31,2018-11-01,2018-11-02,2018-11-05,2018-11-06,2018-11-07,2018-11-08,2018-11-09,2018-11-12,2018-11-13,2018-11-14,2018-11-15,2018-11-16,2018-11-19,2018-11-20,2018-11-21,2018-11-22,2018-11-23,2018-11-26,2018-11-27,2018-11-28,2018-11-29,2018-11-30,2018-12-03,2018-12-04,2018-12-05,2018-12-06,2018-12-07,2018-12-10,2018-12-11,2018-12-12,2018-12-13,2018-12-14,2018-12-17,2018-12-18,2018-12-19,2018-12-20,2018-12-21,2018-12-27,2018-12-28">
                </div>

                <!-- Search radio button Panel -->
                <div id="RadioButtonPanel" class="RadioButtonPanel">
                <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_RadioButtonsUpdatePanel">

                    </div><table id="RadioPanelTable">
                <tbody><tr>
                    <!-- RadioButtons -->
                    <td style="width: 108px;">
                            <span class="AllDaysRadio" onkeydown="if ((event.which &amp;&amp; event.which == 13) || (event.keyCode &amp;&amp; event.keyCode == 13)) {document.aspnetForm.elements['ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton'].click();return false;} else return true; "><input id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AllDaysRadioButton" type="radio" name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$rbGroup" value="AllDaysRadioButton" checked="checked" onclick="javascript:Hide();" tabindex="1"><label for="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AllDaysRadioButton">Alla dagar</label></span>
                    </td>
                    <td style="width: 135px;">
                            <span class="DateAmountRadio" onkeydown="if ((event.which &amp;&amp; event.which == 13) || (event.keyCode &amp;&amp; event.keyCode == 13)) {document.aspnetForm.elements['ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton'].click();return false;} else return true; "><input id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateAmountRadioButton" type="radio" name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$rbGroup" value="DateAmountRadioButton" onclick="javascript:Show('DateAmountPanel');" tabindex="1"><label for="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateAmountRadioButton">Datum/belopp</label></span>
                    </td>
                    <td style="width: 93px;">
                            <span class="AdviceNoRadio"><input id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AdviceRadioButton" type="radio" name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$rbGroup" value="AdviceRadioButton" onclick="javascript:Show('AdvicePanel');" tabindex="1"><label for="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AdviceRadioButton">Avinr</label></span>
                    </td>



                    <!-- Space -->
                    <td style="width: 5px;"></td>

                    <!-- Buttons -->
                    <td style="width: 160px;">
                    <input type="submit" name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton" value="Sök" onclick="return ValidateSubmit();" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_SearchButton" tabindex="7" class="SearchBtn">
                        <!-- Bug 3144 -->
                 <!--   <input type="submit" name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$ClearButton" value="Rensa" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ClearButton" tabindex="8" class="ClearBtn" /> -->

                    </td>
                </tr>
                </tbody></table>
                </div>

                <!-- Search Panel -->
                <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_SearchPanel" class="SearchPanelGUI">


                    <!-- AllDays Panel -->
                    <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AllDaysPanel" class="AllDaysGUI" style="visibility:visible;">


		</div>

                    <!-- DateAmount Panel -->
                    <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateAmountPanel" class="DateAmountGUI" style="visibility: hidden; display: none;">

                        <table id="table2">
                            <tbody><tr>
                                <td style="width:120px;"></td>
                                <td style="width:136px">
                                    <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateFromLabel" class="label">Fr.o.m datum</span>
                                    <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_Label1" class="MandatoryLabel">*</span>
                                    <br>
                                    <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateFromDatePickerUpdatePanel">


<div style="width:127px;">
    <div style="float:left; margin-right:2px;"><input name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$DateFromDatePicker$DateTextBox" type="text" maxlength="10" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateFromDatePicker_DateTextBox" tabindex="2" onkeydown="if ((event.which &amp;&amp; event.which == 13) || (event.keyCode &amp;&amp; event.keyCode == 13)) {document.aspnetForm.elements['ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton'].click();return false;} else return true; " style="width:100px;"></div>
    <div style="float:left;">
		<input type="image" name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$DateFromDatePicker$CalendarImage" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateFromDatePicker_CalendarImage" tabindex="2" onkeydown="if ((event.which &amp;&amp; event.which == 13) || (event.keyCode &amp;&amp; event.keyCode == 13)) {document.aspnetForm.elements['ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton'].click();return false;} else return true; " src="../Images/Calendar.gif" alt="Klicka för att visa kalendern" onclick="javascript: return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl00$ctl00$contentContainer$ContentHolder$DateFromDatePicker$CalendarImage&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" style="border-width:0px;">

    </div>
</div>

			</div>
                                </td>
                                <td style="width:147px">
                                    <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateToLabel" class="label">T.o.m datum</span>
                                    <br>
                                    <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateToDatePickerUpdatePanel">


<div style="width:127px;">
    <div style="float:left; margin-right:2px;"><input name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$DateToDatePicker$DateTextBox" type="text" maxlength="10" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateToDatePicker_DateTextBox" tabindex="3" onkeydown="if ((event.which &amp;&amp; event.which == 13) || (event.keyCode &amp;&amp; event.keyCode == 13)) {document.aspnetForm.elements['ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton'].click();return false;} else return true; " style="width:100px;"></div>
    <div style="float:left;">
		<input type="image" name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$DateToDatePicker$CalendarImage" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_DateToDatePicker_CalendarImage" tabindex="3" onkeydown="if ((event.which &amp;&amp; event.which == 13) || (event.keyCode &amp;&amp; event.keyCode == 13)) {document.aspnetForm.elements['ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton'].click();return false;} else return true; " src="../Images/Calendar.gif" alt="Klicka för att visa kalendern" onclick="javascript: return false;WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl00$ctl00$contentContainer$ContentHolder$DateToDatePicker$CalendarImage&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" style="border-width:0px;">

    </div>
</div>

			</div>
                                </td>
                                <td style="width:130px">
                                    <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AmountFromLabel" class="label">Fr.o.m belopp</span>
                                    <br>
                                    <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AmountFromUpdatePanel">

                                    <input name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$AmountFromTextBox" type="text" maxlength="10" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AmountFromTextBox" tabindex="4" onkeydown="if ((event.which &amp;&amp; event.which == 13) || (event.keyCode &amp;&amp; event.keyCode == 13)) {document.aspnetForm.elements['ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton'].click();return false;} else return true; ">

			</div>
                                </td>
                                <td style="width:150px">
                                    <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AmountToLabel" class="label">T.o.m belopp</span>
                                    <br>
                                    <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AmountToUpdatePanel">

                                    <input name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$AmountToTextBox" type="text" maxlength="10" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AmountToTextBox" tabindex="5" class="Textbox" onkeydown="if ((event.which &amp;&amp; event.which == 13) || (event.keyCode &amp;&amp; event.keyCode == 13)) {document.aspnetForm.elements['ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton'].click();return false;} else return true; ">

			</div>
                                </td>
                            </tr>
                        </tbody></table>

		</div>

                    <!-- Advice Panel -->
                    <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AdvicePanel" class="AdviceNoGUI" style="visibility: hidden; display: none;">


                        <table id="table3" class="none">
                        <tbody><tr>
                            <td style="width:257px"></td>
                            <td>
                                <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AvinoLabel" class="label">Avinr</span>
                                <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_MandatoryAvinoLabel" class="MandatoryLabel">*</span>
                                <br>
                                <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AdviceUpdatePanel">

                                <input name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$AdviceNumberTextBox" type="text" maxlength="12" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_AdviceNumberTextBox" tabindex="6" class="Textbox" onkeydown="if ((event.which &amp;&amp; event.which == 13) || (event.keyCode &amp;&amp; event.keyCode == 13)) {document.aspnetForm.elements['ctl00$ctl00$ctl00$contentContainer$ContentHolder$SearchButton'].click();return false;} else return true; ">

			</div>
                           </td>
                        </tr>
                        </tbody></table>


		</div>


	</div>


    </div>
    <hr style="color:Black; background-color:Black;">
        <!-- START CONTENT CONTAINER -->
        <div class="Content">

    <input name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$scrollLeft" type="hidden" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_scrollLeft" value="0"><input name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$scrollTop" type="hidden" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_scrollTop" value="0"><input name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$hidScrollPos" type="hidden" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_hidScrollPos" value="0"><input name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$hidCurrentDiv" type="hidden" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_hidCurrentDiv">
    <div class="Content">
        <div><div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_updatePanel">

                <div>
                    <div id="U1Div" class="Grid">
                        <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_DatePanel">

        </div><div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_DateValuePanel">

        </div><table border="0" cellpadding="0" cellspacing="0" class="tableVariant2">


<tbody><tr>
    <td colspan="4">
        <h2>
            <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_HeaderLabel">Insättningsuppgift</span></h2>
    </td>
</tr>
<tr>
    <td>
            <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_DateLabel" class="labelBoldPrint">Datum</span>
        </td>


    <td>
        <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_BankAccountNoLabel" class="labelBoldPrint">Bankkontonr</span>
    </td>
    <td>
        <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_BankGiroNoLabel" class="labelBoldPrint">Bankgironr</span>
    </td>
    <td>
        <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_RecipientLabel" class="labelBoldPrint">Mottagare</span>
    </td>
</tr>
<tr>
    <td>
            <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_DateValueLabel" class="labelPrint">2016-10-14</span>
        </td>


    <td>
        <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_BankAccountNoValueLabel" class="labelPrint">8420 9345006747</span>
    </td>
    <td>
        <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_BankGiroNoValueLabel" class="labelPrint">502-4500</span>
    </td>
    <td>
        <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UCDepositInformation_RecipientValueLabel" class="labelPrint">FÖRSKOLAN SOLSIDAN AB<br>c/o Margona Bränström<br>Blåbärsstigen 25<br>871 62  HÄRNÖSAND<br>Sverige<br></span>
    </td>
</tr>

                        </tbody></table>
                    </div>
                    <br>

                    <div id="U2HeaderDiv" style="width: 100%;" class="Grid">
                        <div id="U2HeaderDiv_left" style="left: 0%; width: 50%;">
                            <h2>
                                <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_U2HeaderLabel">Belopp insatt på konto</span></h2>

                            <div>
			<table cellspacing="0" border="0" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_U2TableGridView" style="border-collapse:collapse;">
				<tbody><tr align="right">
					<th align="right" scope="col" style="width:85px;white-space:nowrap;">Antal</th><th scope="col" style="width:20px;">&nbsp;</th><th align="right" scope="col" style="width:100px;">Belopp</th><th scope="col" style="font-weight:normal;width:45px;">&nbsp;</th><th align="left" scope="col" style="width:90px;white-space:nowrap;">Betalningstyp</th><th align="right" scope="col" style="white-space:nowrap;">Löpnr</th><th align="left" scope="col" style="font-weight:normal;width:100px;">
                                            &nbsp;
                                            98
                                        </th>
				</tr><tr>
					<td class="U2Gridview_item_white" align="right" style="width:85px;">
                                              5
                                        </td><td style="width:20px;"></td><td class="U2Gridview_item_white" align="right" style="width:100px;">
                                            3&nbsp;383,00
                                        </td><td>&nbsp;</td><td class="U2Gridview_row" align="left" style="width:90px;">
                                            Elektronisk
                                        </td><td class="U2Gridview_row" align="right">&nbsp;</td><td>&nbsp;</td>
				</tr><tr>
					<td class="U2Gridview_item_white" align="right" style="width:85px;">

                                        </td><td style="width:20px;"></td><td class="U2Gridview_item_white" align="right" style="width:100px;">
                                            0,00
                                        </td><td>&nbsp;</td><td class="U2Gridview_row" align="left" style="width:90px;">
                                            Avi
                                        </td><td class="U2Gridview_row" align="right">&nbsp;</td><td>&nbsp;</td>
				</tr><tr>
					<td class="U2Gridview_footer_line" align="right">
                                              5
                                        </td><td>&nbsp;</td><td class="U2Gridview_footer_line" align="right">
                                            3&nbsp;383,00
                                        </td><td align="left">
                                            TOTALT
                                        </td><td>&nbsp;</td><td align="left">&nbsp;</td><td>&nbsp;</td>
				</tr>
			</tbody></table>
		</div>

                            <br>
                            <br>
                        </div>
                    </div>



<table id="mirrorTable" class="Grid">
    <tbody><tr>
        <td style="text-align: left;">
            <h2><span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UC_GridMirror_MirrorTitleLabel">Insättningar</span></h2>
            <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UC_GridMirror_MirrorInfoLabel">Sorterat på Belopp. Klicka på tabellhuvudet för att filtrera/sortera.</span>
        </td>
        <td style="text-align: right; vertical-align: bottom">
            <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UC_GridMirror_MirrorPageLabel">Sida  1 av 1</span><br>
            <span id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_UC_GridMirror_MirrorTotalNoLabel">Totalt antal betalningar: 5</span>
        </td>
    </tr>
</tbody></table>



                    <table id="oneDayTable" border="0" cellpadding="0" cellspacing="0" class="Grid">
                        <tbody><tr><td id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_ResultGridView_td" style="padding-left: 1px;"><table cellspacing="0" cellpadding="0" style="height: 23px;"><thead><tr class="Gridview_header">
					<th align="right" scope="col" style="width: 130px; padding-right: 10px; padding-left: 5px;"><div style="width:130px;"><a href="javascript:__doPostBack('ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$ResultGridView','Sort$amount')">Belopp</a></div></th><th align="left" scope="col" style="width: 285px; padding-right: 10px; padding-left: 5px;"><div style="width:285px;">Avsändare</div></th><th align="left" scope="col" style="width: 187px; padding-right: 10px; padding-left: 5px;"><div style="width:187px;"><a href="javascript:__doPostBack('ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$ResultGridView','Sort$creditorref')">Betalningsreferens</a></div></th><th align="right" scope="col" style="width: 156px; padding-right: 10px; padding-left: 5px;"><div style="width:156px;"><a href="javascript:__doPostBack('ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$ResultGridView','Sort$debtorbgno')">Bankgiro</a><span>/</span><a href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$ResultGridView$ctl01$ctl01", "", true, "", "", false, true))'>Avinr</a></div></th><th align="left" scope="col" style="width: 157px; padding-right: 10px; padding-left: 5px;"><div style="width:157px;"><a class="label" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$ResultGridView$ctl01$ctl02", "", true, "", "", false, true))'>Visa alla avier</a></div></th>
				</tr></thead></table></td></tr><tr>
                            <td>
                                <div class="gridViewContainer">
                                    <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_div1" onscroll="setdiv(this);" class="noScroll">
                                        <div>
			<table class="GridView" cellspacing="0" cellpadding="4" border="0" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_ResultGridView" style="width: 990px; border-collapse: collapse; visibility: visible;">
				<tbody><tr class="Gridview_row" style="height:17px;">
					<td class="AmountColumn" align="right" style="width: 130px; white-space: nowrap;"><div style="width:130px;"><a href="Details.aspx?OneDayListRowIndex=0&amp;OneDayListShowZoomed=false&amp;ReturnUrl=%2fELINWeb%2fTemplates%2fOneDay.aspx%3fDate%3d2016-10-14%26Hclnr%3d8000%26ReturnUrl%3d%252fELINWeb%252fTemplates%252fManyDays.aspx%253fAllDays%253dtrue%2526Search%253dAllDays%2526Digest%253d7BY%25252frw%252bqOm%25252fsrSz45Qe5Ew%26Search%3dAllDays%26DetailsFromOneDay%3dfalse&amp;Search=AllDays&amp;DetailsFromOneDay=false&amp;Digest=1CDNAzbH7WO9ugKSUMpNMg">918,00</a></div></td><td style="width: 285px;"><div style="width:285px;">KARLBERG,ANDREAS</div></td><td style="width: 187px;"><div style="width:187px;">402818256</div></td><td align="right" style="width: 156px;"><div style="width:156px;">433612022631</div></td><td class="SpacerCol" style="width: 157px;"><div style="width:157px;"></div></td>
				</tr><tr class="Gridview_altrow" style="height:17px;">
                    <td class="AmountColumn" align="right" style="width: 130px; white-space: nowrap;"><div style="width:130px;"><a href="Details.aspx?OneDayListRowIndex=1&amp;OneDayListShowZoomed=false&amp;ReturnUrl=%2fELINWeb%2fTemplates%2fOneDay.aspx%3fDate%3d2016-10-14%26Hclnr%3d8000%26ReturnUrl%3d%252fELINWeb%252fTemplates%252fManyDays.aspx%253fAllDays%253dtrue%2526Search%253dAllDays%2526Digest%253d7BY%25252frw%252bqOm%25252fsrSz45Qe5Ew%26Search%3dAllDays%26DetailsFromOneDay%3dfalse&amp;Search=AllDays&amp;DetailsFromOneDay=false&amp;Digest=8uQs+DdJjEv4yAkaz4urqA">1923,00</a></div></td><td style="width: 285px;"><div style="width:285px;">BODIN,KRISTOFFER</div></td><td style="width: 187px;"><div style="width:187px;">604219501</div></td><td align="right" style="width: 156px;"><div style="width:156px;">423240022210</div></td><td class="SpacerCol" style="width: 157px;"><div style="width:157px;"></div></td>
                </tr><tr class="Gridview_altrow" style="height:17px;">
					<td class="AmountColumn" align="right" style="width: 130px; white-space: nowrap;"><div style="width:130px;"><a href="Details.aspx?OneDayListRowIndex=1&amp;OneDayListShowZoomed=false&amp;ReturnUrl=%2fELINWeb%2fTemplates%2fOneDay.aspx%3fDate%3d2016-10-14%26Hclnr%3d8000%26ReturnUrl%3d%252fELINWeb%252fTemplates%252fManyDays.aspx%253fAllDays%253dtrue%2526Search%253dAllDays%2526Digest%253d7BY%25252frw%252bqOm%25252fsrSz45Qe5Ew%26Search%3dAllDays%26DetailsFromOneDay%3dfalse&amp;Search=AllDays&amp;DetailsFromOneDay=false&amp;Digest=8uQs+DdJjEv4yAkaz4urqA">1923,00</a></div></td><td style="width: 285px;"><div style="width:285px;">BODIN,KRISTOFFER</div></td><td style="width: 187px;"><div style="width:187px;">604219501</div></td><td align="right" style="width: 156px;"><div style="width:156px;">424244022211</div></td><td class="SpacerCol" style="width: 157px;"><div style="width:157px;"></div></td>
				</tr>
			</tbody></table>
		</div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody></table>

                </div>
                <div style="width: 100%; text-align: right;">
                    <input type="submit" name="ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$BackButton" value="« Föregående" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl00$ctl00$contentContainer$ContentHolder$ContentHolder$BackButton&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_BackButton" class="ButtonWide">
                </div>

	</div></div>
        <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_AnimationExtender1_test">
    <div id="ctl00_ctl00_ctl00_contentContainer_ContentHolder_ContentHolder_AnimationExtender1_updateDummy">

	</div>

    <div id="updateProgressDiv" class="updateProgress" style="display:none">
        <div align="center" style="margin-top:13px;">
        <img src="../Images/simple.gif">
        </div>
    </div>
</div>




    </div>

        </div>

<script language="javascript" type="text/javascript">
    if (!isAnyRadioButtonMarked()) {
        Hide();
        RenderRedTextboxes();
    }
</script>
    <!-- END START CONTENT CONTAINER -->


</div>
    </div>