
$primary-color: rgba(211, 143, 0, 1) !default;
$topbar-background: lighten($primary-color, 30%) !default;

body {
  background-color: #fff;
  color: #222;
  font-family: "Imprima", helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  // font-weight: 400;
  //background-color: rgba(253, 255, 224, 1);
}

p, ol, ul, td {
  font-family: "Imprima", helvetica, sans-serif;
  font-size: 1em;
}
p, ol, ul { margin-bottom: 3rem; }
p { font-size: 20px; }

h1,h2,h3,h4,h5 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Merriweather Sans", "Open Sans", "Helvetica Neue", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  // font-weight: normal;
}
h1 {
   font-size: 40px;
   line-height: 50px;
   text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}
h2 {font-size: 26px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h1,h2 {
  color: rgba(238, 172, 0, 1);
}
h3,h4 {
  color: rgba(249, 186, 0, 1);
}
h1.rubrik {
  margin-top: 10px;
  //margin-bottom: 20px;
  // margin-bottom: -20px;
  font-size: 13px;
  letter-spacing: 2px;
  //color: rgba(165, 206, 51, 0.9);
  color: rgba(0, 0, 0, 0.4);
}

nav.top-bar {
  background-image: asset-url('solsidan-sun-logo_200px.png');
  background-position: 11vw -33px;
  background-repeat: no-repeat;
  ul {
    background-color: transparent;
  }
}

.top-bar .menu {
  a {
    transition: all 0.45s ease-out;
    background: none;
    border-radius: 20px;
    margin-left: 3px;

    &.active {
      color: $primary-color;
      background: lighten($primary-color, 90%);
    }

    &:hover {
      color: $primary-color;
      background: lighten($primary-color, 50%);
    }
  }
}

.top-bar-title > h1 > a {
  transition: all 0.5s ease-out;
  color: white;
  &:hover {
    color: darken($primary-color, 2%)
  }
}

.menu-text h1,
.top-bar-title h1 {
  font-size: 30px;
  line-height: 1.4em;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  margin-bottom: 10px;
}

div.row {
  padding-top: 20px;
}



.email {
  a {
    color: $primary-color;
    &:visited {
      color: $primary-color;
    }
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}


form {
  margin-bottom: 4rem;
  .row {
    margin-bottom: 1rem;
  }
}
input.large {
  font-size: 22px;
  line-height: 1.8;
  height: auto;
}

label.required:after {
  content: "*";
  color: crimson;
}

p.pullquote {
   font-size: 16px;
   line-height: 26px;
   padding-left: 15px;
   border-width: 0px 0px 0px 3px;
   border-style: solid;
   margin: 0px 0px 40px 0px;
   border-color: rgba(238, 172, 0, 1);
}

img { padding: 20px }

div.thumbnail {
  margin: 0 0 3px 0;
  padding: 0;
  font-size: 10px;
  img {
    padding: 0;
  }
}




pre {
  background-color: #eee;
  padding: 10px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
