
p.weight1 {
	 font-family: "Merriweather Sans", "Open Sans";
	 font-weight: 400;
	 font-style: normal;
	 font-size: 30px;
	 line-height: 30px;
	 text-transform: uppercase;
	 color: rgba(211, 143, 0, 1);
}

p.weight2 {
	 font-family: "Merriweather Sans", "Open Sans";
	 font-weight: 900;
	 font-style: normal;
	 font-size: 36px;
	 line-height: 30px;
}

div.wrapper {
	 margin: 0 auto;
	 display: block;
	 white-space: nowrap;
	 text-align: center;
	 padding-bottom: 20px;
	 min-height: 100%;
	 width: auto;
	 max-width: none;
}

p.weights {
	 letter-spacing: 2px;
	 font-size: 13px;
	 color: rgba(211, 143, 0, 1);
	 margin-bottom: 35px;
	 border-width: 0px 0px 1px 0px;
	 border-style: dotted;
	 margin-top: 45px;
	 font-family: "Merriweather Sans", "Open Sans";
	 font-weight: 400;
	 font-style: normal;
	 text-transform: uppercase;
}

p.map {
	 font-weight: 400;
	 font-style: normal;
	 margin-bottom: 0px;
	 text-align: justify;
	 font-size: 27px;
	 line-height: 54px;
	 margin-top: 0px;
}

p.heading {
	 letter-spacing: 2px;
	 font-size: 13px;
	 margin-bottom: 35px;
	 border-width: 0px 0px 1px 0px;
	 border-style: dotted;
	 margin-top: 45px;
	 color: rgba(211, 143, 0, 1);
	 font-family: "Merriweather Sans", "Open Sans";
	 font-weight: 400;
	 font-style: normal;
	 text-transform: uppercase;
}

p.intro {
	 margin-bottom: 35px;
	 font-size: 20px;
	 line-height: 30px;
	 font-family: "AauxNextMedium";
}

p.inverse-big {
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 padding: 30px;
	 margin-bottom: 0px;
}

p.inverse-med {
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 padding: 30px;
	 margin-bottom: 0px;
	 padding-top: 0px;
	 font-size: 15px;
}

p.inverse-small {
	 padding-top: 0px;
	 padding-left: 30px;
	 padding-right: 30px;
	 padding-bottom: 30px;
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 font-size: 13px;
}

p.inverse-heading {
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 padding: 30px;
	 margin-bottom: 0px;
	 padding-bottom: 0px;
	 font-size: 15px;
	 letter-spacing: 2px;
	 margin-top: 50px;
}

span {
	 font-family: "Merriweather Sans", "Open Sans";
	 font-weight: 400;
	 font-style: normal;
}

article {
	 width: 96%;
}
