- photos = Gallery::Gallery.find_by_identifier(@cms_page.identifier)&.photos
- photos ||= Gallery::Gallery.find_by_identifier('solsidan')&.photos

- photos.each do |photo|
  .thumbnail
    = link_to photo.image.url(:full), title: photo.title, class:'th' do
      = gallery_image_tag(photo, 'full', width: '100%')
    -# .caption
      %div= photo.title if photo.title.present?
      %div{class:'small'}= photo.description if photo.description.present?
