%nav.top-bar{'data-topbar': true, role: 'navigation'}
  .row
    .top-bar-title
      %h1= link_to("Förskolan Solsidan", "/")
    .top-bar-left
      %ul.menu
        %li.divider
        = active_link_to("Ute och inne", "/uteochinne", wrap_tag: :li)
        %li.divider
        = active_link_to("Hemlagad mat", "/hemlagad-mat", wrap_tag: :li)
        / %li.divider
        / = active_link_to("Utemiljön", "/utemiljon", wrap_tag: :li)
        / %li.divider
        / = active_link_to("Innemiljön", "/innemiljon", wrap_tag: :li)
        %li.divider
        = active_link_to("Personal", "/personal", wrap_tag: :li)
        %li.divider
        -#%li= link_to "Intresseanmälan", new_registration_path
        %li= link_to("Intresseanmälan", "https://docs.google.com/forms/d/1yeJXJtetifq1OSswh66WfN3BB8JYOXCwCKtf3MEaqIg/viewform")
        = # TODO: gallery somehow in the page? initiated through a snippet maybe?
        %li.divider
        -# %li.logo{style: "width:70px; background-color:white; text-align:center; "}
          = image_tag("bright-summer-sun.jpg", size: "59x59")