=# form.text_field :father_name, label: "Namn", icon: "user", placeholder: "Johan Sten", label_col: "col-sm-4", control_col: "col-sm-8"
.row
  .col-sm-7
    = form.text_field :full_name, placeholder: @random_name, icon: "user", label_col: "col-sm-3", control_col: "col-sm-9", class: "input-lg"
  .col-sm-4
    = form.text_field :ssn, placeholder: @random_ssn, label_col: "col-sm-4", control_col: "col-sm-8"

.row
  .col-sm-7
    = form.collection_select :family_id, Family.order(:id), :id, :names_as_sentence, {include_blank: "Ingen", label_col: 'col-sm-3', control_col: 'col-sm-9'}
  .col-sm-5
    - if form.object.family_id?
      - family = form.object.family
      = link_to edit_admin_family_path(family) do
        %span.glyphicon.glyphicon-circle-arrow-right
        = family.name
        - if family.parent_at_home?
          %span.label.label.label-success{title: 'Föräldralediga'} FL


%hr
.row
  .col-sm-6
    = form.date_field :start_date, placeholder: 2.days.from_now.to_date.to_s.gsub(/-/,''), icon: "calendar", help: "Fyller du inte i startdatum blir det idag.", label_col: "col-sm-4", control_col: "col-sm-8", class: 'input-lg'

    = form.date_field :end_date, icon: "calendar", help: "Fyller du inte i slutdatum blir det juli det år de fyller 6 år#{form.object.id? ? ' dvs '+l(form.object.default_end_date, format: :long) : ''}.", label_col: "col-sm-4", control_col: "col-sm-8", class: 'input-lg'

  .col-sm-6
    - if form.object.id?
      .form-group.input-lg
        .form-control-static.col-sm-offset-2.col-sm-10.text-muted
          %span.label.label.label-info #{form.object.age} år
          %span.label.label.label-default #{form.object.fee.to_i} kr / mån
          - if form.object.active?
            %span.label.label.label-success Aktiv
          - else
            %span.label.label.label-default Inaktiv
          - if form.object.free_15_hour_week
            %span.label.label.label-warning{title: 'Har just nu rätt till allmän förskola 15 timmar per vecka'} AFSK

        -#.form-control-static.col-sm-offset-2.col-sm-10.text-muted
          = link_to 'Visa email', rails_email_preview.rep_email_path('fee_mailer_preview-reminder', family_id: form.object.family_id), class: 'btn btn-primary'
          = link_to 'Visa PDF', invoice_path(1, format: :pdf, family_id: form.object.family_id), class: 'btn btn-primary'

    = form.form_group :pending, class: "input-lg" do
      = form.check_box :pending, label: "Avvaktar"

= form.text_area :comment, rows: 3

= form.form_group :class => 'form-actions' do
  .col-sm-6
    = form.submit class: 'btn btn-lg btn-primary'
  .col-sm-6.text-right
    - if form.object.id?
      .btn-group
        = link_to admin_kid_path(form.object), method: :delete, data: { confirm: 'Säker?' }, class: 'btn btn-danger' do
          %span.glyphicon.glyphicon-remove
          Ta bort
