-# REMEMBER that this is mirrored in families/_history.haml

%h3 Historik
- if @kid.history.any?
  - @kid.history.reverse.each do |version|
    - if version
      %h4= l(version[:updated_at], format: :long) if version[:updated_at]
      =# raw ap(version.except(:updated_at), plain: true)
      .row
        - version.except(:updated_at).each do |attribute, values|
          .col-md-6.history-event
            .well
              %h5= t("activerecord.attributes.kid.#{attribute}")
              - if values.is_a?(Array)
                %p
                  - if values[1].is_a?(TrueClass)
                    härmed
                    %strong sant
                  - elsif values[1].is_a?(FalseClass)
                    härmed
                    %strong falskt
                  - else
                    ändrades från
                    %em= values[0] || "(inget)"
                    till
                    %strong= values[1] || "(inget)"
- else
  %p Inga ändringar har gjorts.