.page-header
  .row
    .col-sm-8
      %h2
        = @kid.full_name
        - if @kid.is_lead?
          %span.label.label.label-primary{title: 'Intresseanmäld'} Intresse

    .col-sm-4.text-right
      .btn-group
        = link_to edit_admin_kid_path(@kid.id+1), class: 'btn btn-default', title: 'Nästa barn' do
          %span.glyphicon.glyphicon-arrow-down
          Nästa
        = link_to edit_admin_kid_path(@kid.id-1), class: 'btn btn-default', title: 'Förra barn' do
          %span.glyphicon.glyphicon-arrow-up
          Förra

= comfy_form_for [:admin, @kid] do |form|
  = render form

= render partial: 'history'