.page-header
  = link_to new_admin_kid_path, class: 'btn btn-lg btn-default pull-right' do
    %span.glyphicon.glyphicon-plus-sign
    Nytt barn

  %h1
    Barn
    - if params[:order].present?
      %small
        Sorterade efter
        = t("activerecord.attributes.kid.#{params[:order]}")

= paginate @kids, theme: 'comfy'

- cache @kids do
  %table.table.table-hover.table-bordered
    %tr
      %th= link_to 'Namn', admin_kids_path(order: :full_name)
      %th
      %th= link_to 'Ålder', admin_kids_path(order: :ssn)
      %th Familj
      %th
      %th= link_to 'Period', admin_kids_path(order: :start_date)
      %th.narrow
      %th.narrow

    - @kids.each do |kid|
      %tr{class: kid.active? ? '' : 'inactive'}
        %td= link_to kid.forename, edit_admin_kid_path(kid)
        %td
          - if kid.free_15_hour_week
            %span.label.label.label-warning{title: 'Har just nu rätt till allmän förskola 15 timmar per vecka'} AFSK
        %td= "#{kid.age} år"
        %td= link_to kid.family.surnames, edit_admin_family_path(kid.family) rescue ""
        %td= kid.birth_order.nil? ? '' : 'Nr '+kid.birth_order.to_s
        %td
          - if kid.start_date
            = l(kid.start_date, format: :month)
            %span.glyphicon.glyphicon-arrow-right.small
            = l(kid.end_date, format: :month)
        %td
          - if kid.pending?
            %span.glyphicon.glyphicon-pause{title: "Avvaktar"}
          - elsif kid.active?
            / %span.glyphicon.glyphicon-ok-sign{title: "Aktiv"}
        %td
          - if kid.comment?
            %span.glyphicon.glyphicon-comment{title: "Kommentar"}

    %tfoot{style:'background-color:#eee'}
      %tr
        %td= "#{Kid.count} st"
        %td
        %td
        %td
        %td
        %td= "#{Kid.has_family.active.count} st aktiva"
        %td
        %td

= paginate @kids, theme: 'comfy'
