.page-header
  .row
    .col-sm-8
      %h2= 'Finansöversikt'


- if @kommun_payments.any?
  .page-header
    %h3
      = 'Kommunbidrag'
      %small Visar senaste året (12 st)

    %h4
      Bidrag just nu bör vara
      %span.text-success= number_to_currency Kid.current_subsidies_total
    %p
      Barn under 3 år:
      %strong= @younger_kids.count
      x
      = number_to_currency Kid.subsidy_for_younger
      \=
      %strong= number_to_currency Kid.subsidy_for_younger * @younger_kids.count
    %p
      Barn över 3 år:
      %strong= @older_kids.count
      x
      = number_to_currency Kid.subsidy_for_older
      \=
      %strong= number_to_currency Kid.subsidy_for_older * @older_kids.count

  .row
    - @kommun_payments.each do |payment|
      .col-lg-3.col-md-4.col-sm-6.finance-event
        .well
          %h4= l(payment.given_on, format: :long).capitalize
          %h3= number_to_currency payment.amount


  %h4
    Totalt:
    = number_to_currency @kommun_payments.map(&:amount).sum.round




