!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/[if IE 9 ] <html class="ie9" lang="en">
/ [if (gt IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Solsidan"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    / = javascript_include_tag "vendor/custom.modernizr"
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Imprima'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Merriweather+Sans'
    = csrf_meta_tags

  %body

    = render partial: 'menu'

    .row
      = display_flash_messages

      - if !@cms_page
        .small-12.columns
          = yield
      - else
        .small-6.columns
          = yield
        .small-6.columns
          / = render partial: 'gallery_sidebar'

    = javascript_include_tag "application"
