!!!
%html
  %head
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Imprima'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Merriweather+Sans'
    = stylesheet_link_tag "scaffolds"
  %body.email
    = yield